---
layout: default
---

<script src="{{site.baseurl}}/assets/js/lazysizes.min.js" async=""></script>

<div id="main" role="main">
    <div class="galleries">
        {{ content }}
    </div>
</div>


<script>
	$(".photo-gallery").html($(".photo-gallery .photo-figure").sort(function(){
	 return Math.random()-0.5;
	}));
</script>


<!-- <script src="{{site.baseurl}}/assets/js/screentime.js"></script> -->
<script>
	$(document).ready(function() {
	    $.getScript("{{site.baseurl}}/assets/js/screentime.js",function(){
			var fields = []
			$('img').each(function(){
				id = $(this).attr('id')
				fields.push(
					{
						'selector': '#'+id.replace( '/', '-' ),
						'name': id
					}
				)
			});
			$.screentime({
				fields: fields,
				googleAnalytics: false,
				percentOnScreen: '95%',
				callback: function(data) {
				  console.log(data);
				}
			})
		});
	});
</script>

<link rel="stylesheet" href="{{ site.baseurl }}/{{ "assets/css/gallery.css" }}" />

